.grid-container {
    display: grid;
    grid-template-columns: 750px;
}

.border-bottom {
    border-bottom: grey 10px;
    border-radius: 5px;
}

.border-top {
    border-top: grey 10px;
    border-radius: 5px;
}

.border-right {
    border-right: grey 10px;
    border-radius: 5px;
}

.border-left {
    border-left: grey 10px;
    border-radius: 5px;
}

.grid-icon {
    border: 1px solid;
    width: 20px;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.arrow-left {
    grid-area: title;
}

.ceva-text {
    grid-area: header;
}

.arrow-right {
    grid-area: sidebar;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box {
    position: absolute;
    top: 370px;
    left: 100px;
}

.box-2 {
    position: absolute;
    top: 350px;
    left: 123px;
}

.box-3 {
    position: absolute;
    top: 370px;
    left: 215px;
}

.flexbox-container {
    display: flex;
}

.right-and-down-border {
    margin: 1px;
    width: 30px;
    height: 30px; 
    border: 1px solid black; 
    border-block-end-style: none; 
    border-left-style: none;
    background-color: #ffffff;
    min-height: 20px;
    align-self: flex-end;
    align-self: center;
}

.left-and-up-border {
    margin: 1px;
    width: 30px;
    height: 30px; 
    border: 1px solid black; 
    border-block-end-style: none; 
    border-right-style: none;
    background-color: #ffffff;
    min-height: 20px;
    align-self: flex-end;
    align-self: center;
}

.flexbox-item-1 {
    min-height: 20px;
    align-self: flex-end;
}

.flexbox-item-2 {
    min-height: 20px;
    align-self: center;
}

.flexbox-item-3 {
    min-height: 20px;
} 

.parent {
    height: 1000vh;
}

.child-1 {
    width: 20px;
}

.border-top {
    border-top: 1px grey;
    border-right: 1px grey;
}

.border-bottom {
    border-bottom: 1px grey;
    border-left: 1px grey;
}

.text-rgb {
    color: rgb(196, 194, 194) !important;
}

.cifre-culoare {
    color: rgb(0, 204, 255);
}

.cifre-culoare-2 {
    color: rgb(0, 38, 255);
}

.cifre-culoare-3 {
    color: #ffffff !important;
    background-color: sandybrown;
}

.left-and-up-border {
    padding: 5px;
}   

.border-radius {
    margin-left: 20px;
    border: 1px solid rgb(206, 201, 201);
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 40405px;
    margin-bottom: 1px;
}

.down-border {
    border-bottom: 1px solid black;
}

.right-border {
    border-right: 1px solid black;
}

.div-space {
    display: block;
    text-align: right;
    height: 0px;
}

.box-4 {
    position: absolute;
    top: 3200px;
    left: 580px;
}

.box-5 {
    position: absolute;
    top: 3180px;
    left: 603px;
}

.box-6 {
    position: absolute;
    top: 3200px;
    left: 695px;
}

.border-position {
    margin-left: 15px;
}


