.searchbarwidth {
    width: 45%;
    overflow: auto;
    padding: 5px 45px;
}

.sec-block-pad{
    width: 83%;
    padding-top: 15px;
}

.icon-margin{
    margin-left: 20px;
}

.icon-pad{
    padding: 15px;
}

.first-block-pad{
    width: 17%;
    padding-top: 15px;
}

.button-style{
    border-radius: 25px;
    padding: 0px 15px 0px 15px;
}

.width-btn{
    width: 75%;
}

.position-select-i{
    position: relative;
    margin-right: -32px;
}

.sec-block-pad input[type=text]{
    padding-left: 40px;
}

.position-select-i-2{
    position: relative;
    margin-left: -35px;
}

.pad-left{
    padding-left: 20px;
}

.padtop{
    padding-top: 15px;
}

.list-pad-top{
    padding: 5px 15px 0px 0px;
}

.eric-pad{
    padding: 10px;
}

.select-icon{
    padding-top: 10px;
}

.compose-pad{
    padding-bottom: 15px;
}

.point-pad{
    padding-left: 80px;
}

.scroll-page{
    height: 1000vh;
    color: rgb(119, 119, 119);
}

.margin-top{
    position: absolute;
    margin: 100px 0px 0px -90px;
}

.margin{
    position: absolute;
    margin: 120px 0px 0px -90px;
}

.user{
    position: absolute;
    margin: 111px 0px 0px 73px;
}

.commenting{
    position: absolute;
    margin: 111px 0px 0px 113px;
}

.phone{
    position: absolute;
    margin: 111px 0px 0px 155px
}

.font{
    font-size: xxx-large;
}

.border{
    background-color: rgb(255, 208, 208);
    border-radius: 0px 15px 15px 0px;
}

.menu-bar{
    padding: 20px 20px 20px 5px;
}

.refresh{
    padding: 10px 20px 10px 10px;
}

.checkbox{
    padding-left: 20px;
}

.padtop-1px{
    padding-top: 1px;
}

.keyboard{
    padding: 4px 8px 0px 0px;
}

.arrow-r{
    padding: 5px 34px 0px 0px;
}

.arrow-l{
    padding: 5px 25px 0px 20px;
}

.button-width{
    width: 20%;
}

.top-pad{
    padding: 5px 15px 0px 0px;
}

.pl{
    padding-left: 200px;
}

.p{
    padding: 10px;
}

.bkg{
    background-color: #eee;
}

.align-list{
    float: left;
    text-align: left;
}

.table-width{
    width: 100%;
}

.black{
    color: black;
}

.color{
    color: red;
}

.white{
    background: white;
}

.search-grey{
    background-color: rgb(238, 238, 238);
}

th, td {
    padding: 7px 0px 10px 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.grey{
    color: grey;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
    border-radius: 5px;
  }

  .btn-light{
    color: grey;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }

input.larger {
    width: 17px;
    height: 15px;
  }

.input {
    text-decoration:underline;
    display:inline-block;
}

.border-bottom{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    margin: 0 8px;
    position: absolute;
    right: 0;
}

.bbt{
    padding-bottom: 0px;
    border-bottom: red solid;
    margin-bottom: -15px;
    margin-left: 5px;
    margin-right: 10px;
}

.red{
    color: red;
}

.button-fr{
    float: right;
    margin-top: 29px;
}