.searchbarwidth {
    width: 45%;
    overflow: auto;
}

.sec-block-pad{
    width: 83%;
    padding-top: 15px;
}

.icon-margin{
    margin-left: 20px;
}

.icon-pad{
    padding: 25px;
}

.first-block-pad{
    width: 17%;
    padding-top: 15px;
}

.button-style{
    border-radius: 25px;
    padding: 7px 15px 7px 15px;
}

.width-btn{
    width: 75%;
}

.position-select-i{
    position: relative;
    margin-right: -32px;
}

.sec-block-pad input[type=text]{
    padding-left: 40px;
}

.position-select-i-2{
    position: relative;
    margin-left: -35px;
}

.pad-left{
    padding-left: 20px;
}

.padtop{
    padding-top: 15px;
}

.list-pad-top{
    padding: 5px 15px 0px 0px;
}

.eric-pad{
    padding: 10px;
}

.select-icon{
    padding-top: 10px;
}

.compose-pad{
    padding-bottom: 15px;
}

.point-pad{
    padding-left: 80px;
}

.scroll-page{
    height: 1000vh;
    color: rgb(182, 179, 179);
}

.margin-top{
    position: absolute;
    margin: 100px 0px 0px -90px;
}

.margin{
    position: absolute;
    margin: 120px 0px 0px -90px;
}

.user{
    position: absolute;
    margin: 111px 0px 0px 73px;
}

.commenting{
    position: absolute;
    margin: 111px 0px 0px 113px;
}

.phone{
    position: absolute;
    margin: 111px 0px 0px 155px
}

.font{
    font-size: xx-large;
}

.border{
    background-color: red;
    border-radius: 0px 15px 15px 0px;
}

.menu-bar{
    padding: 20px 20px 20px 5px;
}

.refresh{
    padding: 10px 20px 10px 10px;
}

.checkbox{
    padding-left: 20px;
}

.padtop-1px{
    padding-top: 1px;
}

.keyboard{
    padding: 4px 8px 0px 0px;
}

.arrow-r{
    padding: 5px 34px 0px 0px;
}

.arrow-l{
    padding: 5px 25px 0px 20px;
}

.button-width{
    width: 20%;
}

.top-pad{
    padding: 5px 10px 0px 0px;
}

.pl{
    padding-left: 200px;
}

.p{
    padding: 10px;
}

.bkg{
    background-color: rgb(243, 240, 240);
}
