.body-bkg {
    background-color: rgb(223, 219, 219);
}

.box {
    top: 0px;
    float: left;
}

.pos-abs {
    position: absolute;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pos-abs p {
    margin: auto;
    padding-right: 20px;
}

.pos-abs i {
    padding-right: 5px;
}

.w-100 {
    width: 100%;
}

.center-bkg {
    margin: 17px;
}

.icon-brd {
    border: 3px solid rgb(214, 211, 211);
    background-color: rgb(214, 211, 211);
}

.shadow {
    box-shadow: 0px 5px 5px grey;
}

.h2-custom {
  color: white; 
  background-color: royalblue;
  padding: 17px 14px 17px 37px;
}
.h3-custom {
  color: royalblue; 
}

.div-margin {
    padding: 120px 30px 0px 30px;
}

.code-custom {
    background-color: rgb(226, 224, 224) !important;
    color: rgb(73, 73, 73);
}

.parent {
    height: 1000vh;
}