.div-custom {
    background-color: black;
    color: #a19d9d;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
}

table {
    width: 600px;
}

th {
    text-align: left;
}

.tabel-rgb {
    color: orange;
}

.color-text {
    color: aqua;
}

.bkg-code {
    background-color: rgb(185, 181, 181);
}

.tabel-color {
    color: limegreen;
}

.container {
    width:80%;
    margin:auto;
}

.list-link {
    color: limegreen!important;
    cursor: pointer;
    text-decoration: none!important;
}

.new-class {
    color: palevioletred;
}

.grey-cls {
    color: rgb(82, 80, 80);
}

.yellow-custom {
    color: yellow;
}

.pl-20 {
    padding-left: 20px;
}

.pl-40 {
    padding-left: 40px;
}