.orange-rgb {
    color: orange;
}

.grey-rgb {
    background-color: rgb(226, 225, 225);
}

.pl-20 {
    padding-left: 20px;
}

.pl-40 {
    padding-left: 40px;
}

.blue-rgb {
    color: rgb(0, 4, 255)
}

.aqua-rgb {
    color: cyan;
}

.red-rgb {
    color: darkred;
}

.green-rgb {
 color: limegreen;
}

.b-r-custom {
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(235, 227, 227);
}

.margin-body {
    margin: 25px;
}

.padding-custom {
    padding-left: 15px;
}
